@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    ::-webkit-scrollbar {
        width: 8px;
        height: 5px;
        border-radius: 5px;
        background-color: rgba(65, 111, 77, 0.4);
    }
    
    ::-webkit-scrollbar-thumb {
        background: theme('colors.green');
        border-radius: 5px;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: var(--font-icons) !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    [class^="icon-"]+span,
    [class*=" icon-"]+span {
        margin-left: .5rem;
    }

    @media (pointer:fine) {
        .shlist-btn-group {
            position: absolute;
            right: theme('spacing.3');
            top: theme('spacing.2');
            bottom: theme('spacing.2');
            opacity: 0;
            visibility: hidden;
            margin-top: 0;
        }

        .group:hover .shlist-btn-group {
            opacity: 1;
            visibility: visible;
        }
    }

    .skeleton {
        background-color: theme('backgroundColor.skeleton-gray');
        animation: theme('animation.flicker');
    }

    .nav-li {
        border: 1px solid transparent;
    }

    .nav-li:hover {
        border-color: theme('colors.gray.300');
    }

    .nav-li-active {
        border-color: theme('colors.gray.300');
        border-bottom-color: white !important;
    }

    .s-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 10;
    }

    .s-cont.s-root {
        position: fixed;
        opacity: 0;
        animation: fadeIn .5s ease-in-out .5s forwards;
        z-index: 100;
    }

    .s-spin {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .s-spin div {
        animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

    .s-spin div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgb(43, 145, 29);
        margin: -4px 0 0 -4px;
    }

    .s-spin div:nth-child(1) {
        animation-delay: -0.036s;
    }

    .s-spin div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .s-spin div:nth-child(2) {
        animation-delay: -0.072s;
    }

    .s-spin div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .s-spin div:nth-child(3) {
        animation-delay: -0.108s;
    }

    .s-spin div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .s-spin div:nth-child(4) {
        animation-delay: -0.144s;
    }

    .s-spin div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .s-spin div:nth-child(5) {
        animation-delay: -0.18s;
    }

    .s-spin div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .s-spin div:nth-child(6) {
        animation-delay: -0.216s;
    }

    .s-spin div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .s-spin div:nth-child(7) {
        animation-delay: -0.252s;
    }

    .s-spin div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .s-spin div:nth-child(8) {
        animation-delay: -0.288s;
    }

    .s-spin div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    .icon-pencil:before {
        content: "\e905";
    }

    .icon-image:before {
        content: "\e90d";
    }

    .icon-recipe:before {
        content: "\e922";
    }

    .icon-list:before {
        content: "\e9bb";
        font-size: .875rem;
    }

    .icon-cart:before {
        content: "\e93a";
    }

    .icon-spinner:before {
        content: "\e982";
    }

    .icon-enlarge:before {
        content: "\e98b";
    }

    .icon-shrink:before {
        content: "\e98c";
    }

    .icon-bin:before {
        content: "\e9ac";
    }

    .icon-download:before {
        font-size: 1.25rem;
        margin-right: 0.15rem;
        content: "\e9c2";
    }

    .icon-show:before {
        content: "\e9ce";
    }

    .icon-hide:before {
        content: "\e9d1";
    }

    .icon-plus:before {
        font-size: .875rem;
        content: "\ea0a";
        margin-inline: .1rem;
    }

    .icon-cross:before {
        font-size: .75rem;
        content: "\ea0f";
    }

    .icon-enter:before {
        content: "\ea13";
    }

    .icon-exit:before {
        content: "\ea14";
    }

    .icon-arrow-up:before {
        content: "\ea32";
    }

    .icon-arrow-down:before {
        content: "\ea36";
    }

    .icon-cog:before {
        content: "\e994";
    }

    .icon-blocked:before {
        content: "\ea0e";
    }

    .icon-checkmark:before {
        content: "\ea10";
    }

    .icon-info:before {
        content: "\ea08";
      }
}