@use '/src/styles/variables' as *;
.label {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.error {
    line-height: 1;
    min-height: 1rem;
    color: $red;
    font-size: 0.85rem;
    margin-block: 0.5rem;
}